body  {
    background-image: url("../../../assets/img/backgrounds/2.jpg");}
table {
    font-family: arial;
    border-collapse: collapse;
    width: 50%;
    background-color: #55acee;
}

td, th {
    border: 1px solid #dbdbdb;

    padding: 8px;
    text-align:center;
}

tr:nth-child(even) {
    background-color: #d9edf7;
}